---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import WorkExamples from "../components/WorkExamples.astro";
import "../styles/index.scss";

import getParams from "../params.js"

import pl_java from "../images/pl_table/java.png";
import pl_kotlin from "../images/pl_table/kotlin.png";
import pl_c from "../images/pl_table/c.png";
import pl_cpp from "../images/pl_table/cpp.png";
import pl_css from "../images/pl_table/css.png";
import pl_html from "../images/pl_table/html.png";
import pl_javascript from "../images/pl_table/javascript.png";
import pl_postgresql from "../images/pl_table/postgresql.png";
import pl_sass from "../images/pl_table/sass.png";
import pl_vue from "../images/pl_table/vue.png";
import pl_react from "../images/pl_table/react.png";
import pl_flutter from "../images/pl_table/flutter.png";
import pl_android from "../images/pl_table/android.png";
import BouncingImage from "../components/BouncingImage.astro";

import someGal from "../images/anime/some_gal.png";

import graphicTablet from "../images/other/gpi.png";
import keyboard from "../images/other/keyboard.png";

import cat from "../images/cat.jpg";

import telegram from "../images/icons/telegram.png";
import webdev from "../images/icons/webdev.png";
import database from "../images/icons/database.png";
import controller from "../images/icons/controller.png";

let sections = [
  {
    image: webdev,
    title: "Web development",
    text: "Creating responsive websites from layouts. Javascript frameworks: react.js, vue.js, astro.",
  },
  {
    image: telegram,
    title: "Telegram chat bots",
    text: "Highly scalable telegram bots with rich functionality.",
  },
  {
    image: database,
    title: "Backend development",
    text: "Rest API's, web services, clean code, creating database.",
  },
  {
    image: controller,
    title: "Game programming",
    text: "Making small and unique games with interesting gameplay.",
  },
];

const url = Astro.request.url;
const renderBouncing = getParams(url).anime;
---

<Layout title="salat23">
  <main>
    <img style="width: 0%; height: 0%;" src={cat} />
    <Header />
    <h2 class="landing_section_header">
      Programming languages and technologies
      {JSON.stringify(renderBouncing)}
    </h2>
    {renderBouncing ? <BouncingImage image={someGal} /> : ""}
    {renderBouncing ? <BouncingImage
      topOffset="1rem"
      delay="0.2s"
      rightOffset="0"
      image={graphicTablet}
      additionalStyle="max-width: 500px"
    /> : ""}
    {renderBouncing ? <BouncingImage
      topOffset="50rem"
      rightOffset="1rem"
      delay="0.4s"
      image={keyboard}
      additionalStyle="max-width: 500px;"
    /> : ""}
    <div class="pl_table_wrapper">
      <div class="pl_table_container">
        <table>
          <tr>
            <td></td>
            <td><img src={pl_java} /></td>
            <td></td>
            <td><img src={pl_kotlin} /></td>
            <td><img src={pl_c} /></td>
          </tr>
          <tr>
            <td><img src={pl_android} /></td>
            <td><img src={pl_cpp} /></td>
            <td><img src={pl_css} /></td>
            <td></td>
            <td><img src={pl_html} /></td>
          </tr>
          <tr>
            <td><img src={pl_javascript} /></td>
            <td></td>
            <td></td>
            <td><img src={pl_postgresql} /></td>
            <td></td>
          </tr>
          <tr>
            <td><img src={pl_flutter} /></td>
            <td></td>
            <td><img src={pl_sass} /></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><img src={pl_vue} /></td>
            <td><img src={pl_react} /></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <h2 class="landing_section_header">What I do?</h2>
    <WorkExamples sections={sections} />
    <h2 class="landing_section_header">Previous work experience</h2>
  </main>
</Layout>
